// Making the popup look nice.
// I hate css right now.

body {
    background-color: #FFCCCC;
    font-size: 10px;
}

#text {
    float: right;
}

#buttons {
  width: 735px;
  margin: 50px auto;
  /* background: whitesmoke; */
}

/*
#buttons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.buttons:active {
	position:relative;
	top:1px;
}
*/


#buttons {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #0099FF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    /*
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    */
    width: 16.795%; /* auto */
    float: right;
}

#totalclk {
    clear: left;
    font-size:16px;
    color:#949494;
    float: left;
}

#mainclk {
    clear: left;
    font-size:40px;
    font-weight: bold;
    color: #627DCC;
    display: block;
}
